@import "tailwindcss";

@import './fonts/fonts.css';


body{
    background-color: #FEFEFE;
}
.masker,.text{
    font-family: 'Founders Grotesk';
}
.landing-text,.start{
     font-family: 'Neue Montreal';
}
#marquee::-webkit-scrollbar{
    display: none;
}

body::-webkit-scrollbar{
    display: none; 
    scroll-behavior: smooth;
}

.card{
    transform: translate(0);
} 
.logo-text{
    font-family: 'Agile';
}